.unit_1 {
  margin-top: 100px;
  align-items: center; }
  .unit_1 .left {
    width: 36%; }
    .unit_1 .left .big_text {
      font-family: NEXT ART;
      font-size: 50px;
      font-style: normal;
      font-weight: 900;
      line-height: 66px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-right: 0;
      width: 85%; }
    .unit_1 .left .small_text {
      margin-top: 20px;
      font-family: Raleway;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left; }
    .unit_1 .left .button_trial_lesson {
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-align: left;
      max-width: 230px;
      width: 60%;
      margin-top: 40px;
      padding: 18px 38px 18px 38px;
      background-color: #236967;
      color: white;
      text-align: center;
      border-radius: 30px; }
      .unit_1 .left .button_trial_lesson:hover {
        background-color: #30928f; }

.unit_2 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0 0 17%; }
  .unit_2 div {
    position: relative; }
    .unit_2 div h1 {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white; }
  .unit_2 .middle {
    margin: 0 50px 0 50px; }

.unit_3 {
  display: flex; }
  .unit_3 .languages {
    display: flex; }

.unit_4 {
  margin-top: 140px;
  display: flex;
  justify-content: center; }
  .unit_4 .unit {
    display: flex;
    justify-content: center;
    align-items: center; }
    .unit_4 .unit .right {
      margin-left: 90px; }
      .unit_4 .unit .right h1 {
        max-width: 410px; }
      .unit_4 .unit .right h3 {
        max-width: 450px; }

.unit_5 {
  margin-top: 140px;
  display: flex;
  justify-content: center; }
  .unit_5 .unit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .unit_5 .unit .rectangle {
      bottom: auto;
      top: 32px;
      width: 320px; }
    .unit_5 .unit .tablet {
      display: flex; }
      .unit_5 .unit .tablet .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 45px 0 45px; }
        .unit_5 .unit .tablet .col h2 {
          max-width: 150px;
          text-align: center; }

.unit_6 {
  margin-top: 140px;
  display: flex;
  justify-content: center; }
  .unit_6 .unit {
    position: relative;
    display: flex;
    flex-direction: column; }
    .unit_6 .unit .rectangle {
      bottom: auto;
      top: 32px;
      width: 74px; }
    .unit_6 .unit .total {
      display: flex;
      align-items: center; }
      .unit_6 .unit .total h3 {
        max-width: 300px;
        margin-right: 120px; }
      .unit_6 .unit .total .right {
        display: flex; }
        .unit_6 .unit .total .right .col {
          max-width: 210px;
          display: flex;
          align-items: center; }
          .unit_6 .unit .total .right .col img {
            margin-right: 35px; }

.unit_7 {
  margin: 140px 0 0 0;
  display: flex;
  justify-content: center; }
  .unit_7 .unit {
    padding: 100px 0 100px 0;
    width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFBED;
    border-radius: 70px;
    z-index: 0; }
    .unit_7 .unit .left {
      position: relative; }
      .unit_7 .unit .left .rectangle {
        bottom: auto;
        z-index: -0.5; }
      .unit_7 .unit .left h3 {
        max-width: 320px;
        margin-top: 30px; }
    .unit_7 .unit .big_text {
      max-width: 520px;
      font-family: NEXT ART;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px;
      letter-spacing: 0.02em;
      text-align: left; }
    .unit_7 .unit .button_trial_lesson_2 {
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-align: left;
      width: 230px;
      margin-top: 40px;
      padding: 18px 38px 18px 38px;
      background-color: #236967;
      color: white;
      text-align: center;
      border-radius: 30px; }
      .unit_7 .unit .button_trial_lesson_2:hover {
        background-color: #30928f; }

.unit_8 {
  margin-top: 140px;
  display: flex;
  justify-content: center; }
  .unit_8 .unit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .unit_8 .unit .rectangle {
      bottom: auto;
      top: 32px;
      width: 247px; }
    .unit_8 .unit h2 {
      margin: 30px 0 90px 0; }

.footer {
  margin-top: 140px; }

/*# sourceMappingURL=olds.css.map */
