.unit_1{
    margin-top: 100px;
    align-items: center;
    .left{
        width: 36%;
        .big_text{
            font-family: NEXT ART;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: 66px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-right: 0;
            width: 85%;
        }
        .small_text{
            margin-top: 20px;

            font-family: Raleway;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;

        }

        .button_trial_lesson{
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.01em;
            text-align: left;
            max-width: 230px;
            width: 60%;
            margin-top: 40px;
            padding: 18px 38px 18px 38px;
            background-color: #236967;
            color: white;
            text-align: center;
            border-radius: 30px;
            &:hover{
                    background-color: #30928f;
            }
        }
    }
}
.unit_2{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0 17%;
    div{
        position: relative;
        h1{
            margin: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: white;
        }
    }
    .middle{
        margin: 0 50px 0 50px;
    }
}
.unit_3{
    display: flex;
    .languages{
        display: flex;
    }
}
.unit_4{
    margin-top: 140px;

    display: flex;
    justify-content: center;
    .unit{
        display: flex;
        justify-content: center;
        align-items: center;
        .right{
            margin-left: 90px;
            h1{
                max-width: 410px;
            }
            h3{
                max-width: 450px;
            }
        }
    }
}
.unit_5{
    margin-top: 140px;

    display: flex;
    justify-content: center;
    .unit{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rectangle{
            bottom: auto;
            top: 32px;
            width: 320px;
        }
        .tablet{
            display: flex;
            .col{
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 50px 45px 0 45px;
                h2{
                    max-width: 150px;
                    text-align: center;
                }
            }
        }
    }
}
.unit_6{
    margin-top: 140px;

    display: flex;
    justify-content: center;
    .unit{
        position: relative;
        display: flex;
        flex-direction: column;
        .rectangle{
            bottom: auto;
            top: 32px;
            width: 74px;
        }
        .total{
            display: flex;
            align-items: center;
            h3{
                max-width: 300px;
                margin-right: 120px;
            }
            .right{
                display: flex;
                .col{
                    max-width: 210px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}
.unit_7{
    margin: 140px 0 0 0;
    display: flex;
    justify-content: center;
    .unit{
        padding: 100px 0 100px 0;
        width: 1260px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FFFBED;
        border-radius: 70px;
        z-index: 0;
        .left{
            position: relative;
            .rectangle{
                bottom: auto;
                z-index: -0.5;
            }
            h3{
                max-width: 320px;
                margin-top: 30px;
            }
        }
        .big_text{
            max-width: 520px;
            font-family: NEXT ART;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px;
            letter-spacing: 0.02em;
            text-align: left;
        }
        .button_trial_lesson_2{
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.01em;
            text-align: left;

            width: 230px;
            margin-top: 40px;
            padding: 18px 38px 18px 38px;
            background-color: #236967;
            color: white;
            text-align: center;
            border-radius: 30px;
            &:hover{
                background-color: #30928f;
            }
        }
    }
}
.unit_8{
    margin-top: 140px;
    
    display: flex;
    justify-content: center;
    .unit{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rectangle{
            bottom: auto;
            top: 32px;
            width: 247px;
        }
        h2{
            margin: 30px 0 90px 0;
        }
        .choose{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .rectangleCH{
                width: 66%;
                height: 2px;
                background-color: #61B5A9;
            }
            .circles{
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                .circle{
                    height: 29px;
                    width: 29px;
                    border: 1px solid #689C9A;
                    border-radius: 15px;
                    background-color: #689C9A;
                }
                .shadow{
                    -webkit-box-shadow: 0px 1px 35px 26px rgba(104, 156, 154, 0.2);
                    -moz-box-shadow: 0px 1px 35px 26px rgba(104, 156, 154, 0.2);
                    box-shadow: 0px 1px 35px 26px rgba(104, 156, 154, 0.2);
                }
                #secondCirc{
                    margin: 0 15% 0 15%;
                    background-color: white;
                }
                #thirdCirc{
                    background-color: white;
                }
            }
        }
        .captions{
            margin-top: 44px;
            display: flex;
            justify-content: center;
            width: 100%;
            h2{
                margin: 0;
            }
        }
        .boxes{
            width: 45.75%;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 234px;
                height: 146px;
                .line{
                    display: flex;
                    align-items: center;
                    max-width: 170px;
                    input{
                        margin-right: 14px;
                        background-color: yellow;
                    }
                    h3{
                        margin: 13px 0 13px 0;
                    }
                }
            }
            #box1{
                background-image: url("../img/symbols/502.svg");
            }
            #box2{
                background-image: url("../img/symbols/503.svg");
                height: 212px;
            }
            #box3{
                background-image: url("../img/symbols/504.svg");
                height: 106px;
                background-size: 100% 100%;
            }
        }
    }    
    
}
.footer{
    margin-top: 140px;
}