.unit_2_2{
    margin: 140px 0 140px 0;
    display: flex;
    justify-content: center;
    .unit{
        position: relative;
        .rectangle{
            bottom: 0px;
            top: 32px;
            width: 421px;
        }
        .bottom{
            display: flex;
            div{
                display: flex;
                align-items: center;
            }
            .left{
                max-width: 430px;
                margin-right: 85px;
            }
            .middle{
                max-width: 275px;
                margin-right: 65px;
            }
            .right{
                max-width: 381px;
            }
            .line{
                height: 78px;
                width: 20px;
                margin-right: 14px;
            }
        }
    }
}