.unit_4{ 
    margin: 140px 0 140px 0;
    display: flex;
    justify-content: center;
    .unit{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
            margin-bottom: 40px;
        }
        .rectangle{
            top: 32px;
            bottom: auto;
            width: 435px;
        }
        .tablet{
            display: flex;
            flex-direction: column;
            .line{
                display: flex;
                margin-bottom: 40px;
                .col{
                    height: 200px;
                    width: 233px;
                    padding: 28px 37px 28px 37px;
                    background-color: #FFFBED;
                    border-radius: 30px;
                    margin-right: 25px;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                .col2{
                    width: 280px;
                }
            }
        }
    }
}