.unit_9{
    display: flex;
    flex-direction: column;
    align-items: center;
    .unit{
        position: relative;
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
        width: 1046px;
        border-radius: 70px;
        background-color: #FFFBED;
        img{
            border-top-right-radius: 70px;
            border-bottom-right-radius: 70px;
            right: 0;
        }
        .img_form2{
            display: none;
        }
        .form{
            padding: 80px 0 0 100px;
            display: flex;
            flex-direction: column;
            .header{
                font-family: NEXT ART;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 34px;
                letter-spacing: 0.02em;
                text-align: left;
            }
            .age{
                display: flex;
                justify-content: space-between;
                h2{
                    margin-bottom: 10px;
                    font-family: Raleway;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: center;
                }
                .old_9:hover{
                    background-color: #ddd9ca;
                }
                .kid_9:hover{
                    background-color: #ddd9ca;
                }
                #line_old_9{
                    width: 200px;
                    height: 2px;
                    background-color: #236967;
                }
                #line_kid_9{
                    width: 200px;
                    height: 2px;
                    background-color: #94C6C4;
                }
            }
            .languages_list{
                margin-top: 30px;
                height: 50px;
                border-radius: 10px;
                padding: 12px, 0, 12px, 0;
                padding-inline-start: 20px;
                border: 1px solid #FFECA0;
            }
            .type{
                margin-top: 14px;   
                display: flex;
                justify-content: space-between;
                h3{
                    margin: 0;
                    font-family: Raleway;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0.02em;
                    text-align: left;
                }
                div{
                    height: 29px;
                    display: flex;
                    align-items: center;
                }
                input{
                    margin-right: 14px;
                }
                .offline{
                    width: 200px;
                }
            }
            .name_phone{
                margin-top: 14px;
                display: flex;
                justify-content: space-between;
                input{
                    width: 180px;
                    height: 50px;
                    border-radius: 10px;
                    padding-inline-start: 20px;
                    border: 1px solid #FFECA0;
                }
            }
            .input_email{
                margin-top: 14px;
                height: 50px;
                border-radius: 10px;
                padding: 12px, 0, 12px, 0;
                padding-inline-start: 20px;
                border: 1px solid #FFECA0;
            }
            #button_sendForm{
                margin-top: 30px;
                width: 100px;
                border-radius: 30px;
                padding: 18px 38px;

                background-color: #236967;
                color: white;
                font-family: Raleway;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-align: center;
            }
            #button_sendForm:hover{
                background-color: #309794;
            }
        }
        // @media (max-width: 1350px){
        //     flex-direction: column;
        //     .img_form1{
        //         display: none;
        //     }
        //     .img_form2{
        //         display: block;
        //         width: 440px;
        //         border-top-right-radius: 0;
        //         border-bottom-right-radius: 70px;
        //         border-bottom-left-radius: 70px;
        //     }
        // }
        @media (max-width: 1350px){
            
        }
    }
}